/* app css stylesheet */

.marcas-header {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: #ccc;
  padding: 20px 40px;
  border-radius: 3px;
}

.marcas-header span {
  font-weight: bold;
  padding-right: 20px;
}

.marcas-header select {
  margin-right: 20px;
}

.side-panel {
  background-color: #ccc;
  padding: 40px 20px;
  text-align: center;
}

.side-panel button {
  padding: 20px;
  font-size: 16px;
}