<div class="row">
  <div class="col-xs-12 col-md-6 marcas-header">
    <span>Marcas</span>
    <select ng-options="marca as marca.nombre for marca in marcasList" ng-model="selected"></select>
    <input type="text" value="{{selected.nombre}}" placeholder=""/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Modelo</th>
          <th>Nombre</th>
          <th>Abrev.</th>
          <th>Largo</th>
          <th>Ancho</th>
          <th>Alto</th>
          <th>Peso</th>
          <th>Terminal</th>
          <th>Ter Loc</th>
          <th>Activo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="modelo in modelosList">
          <td>{{modelo.modelo}}</td>
          <td>{{modelo.nombre}}</td>
          <td>{{modelo.nombre_corto_mapa}}</td>
          <td>{{modelo.largo}}</td>
          <td>{{modelo.ancho}}</td>
          <td>{{modelo.alto}}</td>
          <td>{{modelo.peso}}</td>
          <td><input type="checkbox" ng-checked="{{modelo.terminal}}" /></td>
          <td><input type="checkbox" ng-checked="{{modelo.terminal_l}}" /></td>
          <td><input type="checkbox" ng-checked="{{modelo.activo}}" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-md-2 side-panel">
    <div class="col-xs-12">
      <button class="btn btn-success" ng-click="refresh()">Actualizar</button>
    </div>
  </div>
</div>